.block {
  margin: 32px 0 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  max-width: 140px;
  width: 100%;
  object-fit: contain;
  filter: grayscale(1);
  transition: 0.3s ease-in-out;
}

.image:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 568px) {
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
