.block {
  padding: 56px 0 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .block {
    padding: 56px 8px 0;
  }

  .title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }
}
