.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
  margin: 0;
}

.podcasts {
  margin: 36px 0 0;
}

.image {
  position: relative;
  width: 100%;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.play:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
