.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
  margin: 0;
}

.podcasts {
  margin: 36px 0 0;
}

.podcast {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  height: 210px;
}

.podcast:hover {
  transform: scale(1.1);
}

.image {
  border-radius: 12px;
}

@media screen and (max-width: 786px) {
  .wrapper {
    padding: 0 8px;
  }

  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .podcasts {
    padding: 0 8px;
  }

  .link {
    width: 100%;
  }

  .image {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .podcast {
    display: block;
    height: 230px;
  }

  .image {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}
