.block {
  background-color: #313131;
}

.slideContainer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #313131 70%, rgba(0, 0, 0, 0.00) 75%);
  z-index: 22;
  height: 488px;
}

.logo {
  max-width: 200px;
  width: 100%;
  object-fit: contain;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 44px;
  padding-left: 40px;
}

.list {
  padding-left: 16px;
  margin: 0;
}

.listItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

.banner {
  max-width: 620px;
  width: 100%;
  height: 100%;
  z-index: -3;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .slideContainer {
    flex-direction: column;
    justify-content: center;
    background-color: #313131;
    height: 460px;
  }

  .textContainer {
    flex-direction: column;
    padding: 8px 16px;
    gap: 0;
  }

  .list {
    max-width: 460px;
  }

  .banner {
    display: none;
  }
}


@media screen and (max-width: 786px) {
  .logo {
    max-width: 140px;
    padding: 0;
  }

  .listItem {
    font-size: 12px;
    line-height: 20px;
  }
}
